.back {
    background-color: #E5E5E5;
}
.show__all {
    background: linear-gradient(92.64deg, #B9D5FD -2.68%, #08235C -2.67%, #377AF9 86.59%, #2267C7 99.79%);
    border-radius: 8px;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    padding: 12px 80px;
}
.news__title{
    font-size: 42px;
    color: #023047;
    margin-bottom: 20px;
}
.news__boxes{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.news__boxes .box{
    width: 31%;
    margin: 16px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.news__boxes .box img{
    width: 100%;
    object-fit: cover;
    position: relative;
    cursor: pointer;
    transition: 0.2s linear;
}
.news__boxes .box img:hover{
    filter: brightness(0.8);
}
.news__boxes .box .box__text{
    padding: 15px 10px 10px 10px;
}
.news__boxes .box .box__text .box__title{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1rem;
}
.news__boxes .box .box__text p{
    color: #666666;
    margin-bottom: 20px;
}
.news__boxes .box .box__text .n__date{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.news__boxes .box .box__text .n__date a{
    background: linear-gradient(92.64deg, #B9D5FD -2.68%, #08235C -2.67%, #377AF9 86.59%, #2267C7 99.79%);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 15px;
    color: #FCF6F6;
}
.news__boxes .box .box__text .n__date a:hover{
    box-shadow: unset !important;
    background: linear-gradient(92.64deg, #B9D5FD -2.68%, #08235C -2.67%, #2267C7 86.59%, #377AF9 99.79%);
}
.news__boxes .box .box__text .n__date span{
    color: #999999;
}
.recently-products .recently__title{
    margin-bottom: 20px;
    color: #023047;
}

@media (min-width: 769px) and (max-width: 1025px){
    .grid-cols-5 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .news__boxes .box{
        width: 48% !important;
        margin: 6px;
    }
    .news__boxes {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }
}

@media (min-width: 600px) and (max-width: 769px){
    .grid-cols-5 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .grid-cols-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .news__boxes .box{
        width: 70% !important;
        margin: 1rem auto;
    }
    .news__boxes {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }
}

@media (min-width: 376px) and (max-width: 600px){
    .pages {
        padding: 20px 16px !important;
    }
    .pages a {
        font-size: 12px !important;
    }
    .grid-cols-5 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .brand__name{
        font-size: 22px !important;
    }
    .banner .grid-cols-4{
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .banner img.h-64{
        height: auto;
    }
    .news__boxes {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }
    .news__boxes .box{
        width: 100% !important;
        margin: 1rem auto !important;
    }
    .news__title{
        font-size: 22px !important;
        margin-bottom: 0rem !important;
    }
    .recently-products .recently__title{
        font-size: 22px !important;
    }
}

@media (min-width: 376px) and (max-width: 415px){
    .banner .grid-cols-4{
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .news__boxes {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }
    .news__boxes .box{
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .news__title{
        font-size: 22px !important;
        margin-bottom: 0rem !important;
    }
}

@media (max-width: 376px){
    .pages {
        padding: 20px 16px !important;
    }
    .pages a {
        font-size: 12px !important;
    }
    .news__boxes .box .box__text .n__date a{
        padding: 7px 15px !important;
        font-size: 16px;
    }
    .news__boxes .box{
        width: 100% !important;
        margin: 10px 0 !important;
    }
    .news__title{
        font-size: 22px !important;
        margin-bottom: 0rem !important;
    }
    .grid-cols-5 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .brand__name{
        font-size: 22px !important;
        line-height: 28px;
    }
    .banner .grid-cols-4{
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .banner img.h-64{
        height: auto;
    }
    .banner .gap-4{
        gap: 5px;
    }
    .show__all {
        padding: 10px 25px;
        font-size: 16px;
    }
    .recently-products .recently__title{
        font-size: 22px !important;
    }
}

@media (max-width: 300px){
    .show__all {
        padding: 10px 25px;
        font-size: 16px;
    }
    .news__boxes .box .box__text .n__date a{
        padding: 5px 10px !important;
        font-size: 12px !important;
    }
    .news__boxes .box .box__text .box__title{
        font-size: 15px !important;
        margin-bottom: 10px !important;
    }
    .news__boxes .box .box__text p{
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
    .news__boxes .box .box__text .n__date span{
        font-size: 12px !important;
    }
    .grid-cols-5 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}